html{
    font-size: 62.5%;
}
:root{
    --primary-color:#000 ;
    --secondary-color: #fff;
}
body{
    position: relative;
    background-color: var(--primary-color);
    height: 100vh;
    color: var(--secondary-color);
    overflow: hidden;
    justify-content: center;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    max-width: 160rem;
    overflow: hidden;
}
.pic_holder{
    display: flex;
    justify-content: center;
    height: 60rem;
    width: 90rem;
    margin: 20vh auto;
    align-items: center;
    margin: 0 6rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 1rem;
    transition: 0.3s;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ph{
    font-size: x-large;
    cursor: pointer;
}
footer{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    left: -45rem;
    margin-top: 12rem;
}
.foot_img{
    width: 30rem;
    height: 20rem; 
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    transform: scale(1);
    transition: 0.4s, background-image 0s;
    cursor: pointer;
}
.select{
    box-shadow: 0 0 1rem 0.5rem #9d9d9d;
    transform: scale(1.4);
    margin: 0 7rem;
}
@media (max-width: 1400px){
    html{
        font-size: 50%;
    }
}
@media (max-width: 1150px){
    html{
        font-size: 40%;
    }
}
@media (max-width: 900px){
    html{
        font-size: 30%;
    }
}
@media (max-width: 700px){
    html{
        font-size: 20%;
    }
}
@media (max-width: 500px){
    html{
        font-size: 15%;
    }
}