@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: grid;
    grid-template-columns: 1fr 10fr 5fr;
    margin: 50px;
    max-width: 1250px;
}
.imgs{
    display: flex;
    flex-direction: column;
}
.im{
    width: clamp(50px, 10vw, 100px);
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    opacity: 0.5;
    cursor: pointer;
}
#im1{
    border: 2px solid #44AADD;
}
#im2{
    opacity: 0.5;
}
#im3{
    opacity: 0.5;
}
#big_img{
    width: 100%;
}
h1{
    font-weight: 600;
    font-size: clamp(16px, 3vw , 40px);
    margin: clamp(5px, 0.5vw, 20px) 0;
}
.description{
    font-size: clamp(10px, 1vw, 20px);
    margin-top: 0;
    margin-bottom: clamp(5px, 0.5vw, 20px);
    color: #666;
}
.price{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 1.5em;
}
.reduction{
    background-color: #44aadd82;
    padding: 2px clamp(5px, 1vw, 10px);
    border-radius: 5px;
}
.pr{
    margin: 0;
}
del{
    color: #595959;
    margin-top: 0;
    font-size: clamp(10px, 1vw, 20px);
}
h3{
    font-size: clamp(12px, 1vw, 20px);
    margin:0;
    margin-top: 20px;
    font-weight: 600;
}
label{
    height: clamp(20px, 2vw, 60px);
    width: clamp(20px, 2vw, 60px);
    align-content: center;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: clamp(10px, 1vw, 20px);
    margin: 0;
}
input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label{
    background-color: black;
    color: white;
}
.bag{
    font-family: "Roboto Slab", serif;
    color: white;
    background-color: #0055B8;
    width: 100%;
    height: clamp(20px, 4vw, 60px);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(12px, 1vw, 20px);
    margin-top: 20px;
}
.cz{
    font-size: clamp(10px, 1vw, 20px);
    font-weight: 600;
}
.polo{
    color: #44AADD;
    margin: 0;
    font-size: clamp(10px, 1vw, 20px);
}

.selected {
    border: 2px solid #44AADD;
    opacity: 1;
}